.id{
  font-size: 10vw;
  font-family: cursive;
  color: rgb(16, 16, 146);
}
.modif{
  background: linear-gradient(120deg, green, yellow);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}